* {
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 4%;
}

.card {
  width: 25%;
  border-radius: 10px;
  display: inline-block;
  margin: 2%;
  background-color: beige;
}
.image img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  padding: 20px;
  text-align: center;
}

.details {
  padding: 20px;
  text-align: center;
}

button {
  padding: 15px;
  margin: 10px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 3px;
}
