.container {
  border: 3px solid black;
  height: 5000px;
  background-color: aliceblue;
}

.rectangle {
  border: 3px solid blue;
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 5px;
}

/* absolute - relative to the parent
relative- relative to the normal position 
fixed - fixed relative to the viewport
*/

#two {
  position: static;
  right: 75px;
  bottom: 75px;
}
