h1,
p {
  color: aqua;
  font-size: 30px;
}

#highlightpara {
  color: red;
}

.text {
  font-size: 30px;
  background: grey;
}

ul {
  overflow: hidden;
  background-color: bisque;
}

li {
  float: left;
  list-style: none;
}
li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 10px;
}

li a:hover {
  background-color: aquamarine;
}
